textarea:focus, input:focus{
    outline: none;
}
p {
    margin: 0;
}

h1{
    margin: 0;
}

.main_body{
    background: url(../img/bg.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    height:70vh;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.search{
    display: flex;
    background: #FFF;
    width: 650px;
    height: 50px;
    border-radius: 2.8rem; 
    align-items: center;
}

.input{
    height: 50px;
    border-radius: 2.8rem; 
    width: 600px;
    border: none;
    padding-left: 30px;
    box-sizing: border-box;
    font-family: Roboto;
    font-style: style;
    font-size: 20px;
}

.material-icons.md-36.grey {
    font-size: 30px;
    color: rgba(0,0,0, 0.7);
    padding-right: 24px;
}

.material-icons.gold {
    font-size: 36px;
    color: rgb(255,163,20);
    padding-right: 5px;
}

.movieinfo {
    padding-top: 10vh;
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: left;
}

.poster{
    width: 25%;
    height: auto;
}

.infotext {
    padding-left: 40px;
}

.movie-title {
    padding-bottom: 20px;
}

.rating {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

.rating-no {
    font-size: 24px;
    font-family: "Roboto Mono";
}

.genres {
    font-family: "Roboto Mono";
}

.runtime{
   padding-bottom: 20px; 
}

.plot{
    font-family: Roboto;
    font-size: 18px;
    padding-bottom: 20px;
}

.director{
    font-size: 14px;
}

.writer{
    font-size: 14px;
}
