<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <title>Movie and TV Shows</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="//fonts.googleapis.com/css?family=Roboto:400,500,900" rel="stylesheet" type="text/css">
  <link href="//fonts.googleapis.com/css?family=Roboto+Mono:500" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <link rel="stylesheet" href="{{ url_for('static', filename="css/normalize.css")}}">
  <link rel="stylesheet" href="{{ url_for('static', filename="css/custom.css")}}">


</head>
<body class="main_body">

  <div class="container">
    <form class="search" action="{{ url_for('search') }}" method="get">
      <!-- <div class="search"> -->
          <input name="q" type=text class="input" placeholder="Search for Movies/TV Shows">
          <i class="material-icons md-36 grey" > search </i>
          </input>
      <!-- </div> -->
    </form>
    <form>
      <!-- implement in the end -->
      <!-- <button>Top 250 Movies</button> -->
    </form>
  </div>

</body>
</html>
