<!DOCTYPE html>
<html lang="en" style="background-color:#e1e4eb">
<head>

  <meta charset="utf-8">
  <title>{{ movie['long title'] }}</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="//fonts.googleapis.com/css?family=Roboto:400,500,900" rel="stylesheet" type="text/css">
  <link href="//fonts.googleapis.com/css?family=Roboto+Mono:400" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <link rel="stylesheet" href="{{url_for('static', filename="css/normalize.css")}}">
  <link rel="stylesheet" href="{{url_for('static', filename="css/custom.css")}}">

</head>
<body>

  <div class="container">
    <div class="movieinfo">
      {% if movie['cover'] %}
      <img class="poster" src="{{ movie['cover'] }}">
      {% endif %}
      <div class="infotext">
        <h1 class="movie-title">{{ movie['long title']}}</h1>
        {% if movie['rating'] %}
        <div class="rating">
          <i class="material-icons gold"> star </i>
          <p class="rating-no">{{ movie['rating'] }}</p>
        </div>
        {% endif %}
        <p class="genres">{{ movie['genres'] }} </p>
        <p class="runtime">{{ movie['runtime'] }}</p>
        <p class="plot"> {{ movie['plot'] }} </p>
        <p class="director">Director: {{ movie['director'] }}</p>
        <p class="writer">Writer: {{ movie['writer'] }}</p>
      </div>
    </div>
  </div>

</body>
</html>
