<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <title></title>
      <!---  <link rel="stylesheet" href=""> -->
    </head>
    <body bgcolor="gray">
        <h1> SEARCH RESULT FOR MOVIE {{srch}} </h1> <br><br><br><br><br> <br>   
        <label>MOVIE NAME:</label> <br><br>
        <label>MOVIE RATING:</label><br><br>
        <label>MOVIE RELEASE DATE:</label><br><br>
        <label>MOVIE GENRE:</label><br><br>
        <label>MOVIE CASE:</label><br><br>
        <label>MOVIE SUMMARY:</label><br><br>
        
        <script src="" async defer></script>
    </body>
</html>